doctype
html
	head
		title 
			if color !== ''
				Why is the Empire State Building #{color}?
			else 
				Why is the Empire State Building that color?
		meta(name='Handheldfriendly', content='True')
		meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='MobileOptimized', content='320')
		link(type='text/css', rel='stylesheet', href='styles/reset.css')
		link(type='text/css', rel='stylesheet', href='styles/style.css')
	body
		header
			h3 #{date}
			.circular
			if color !== ''
				h1.todays-color Why is the Empire State Building <br> lit up #{color}?
		.main-container
			.content
				h2 Occassion:
				p #{description}